/* {
	outline: 1px solid red;
}*/
html {
	margin: 0;
	padding: 0;
	font-family: "Tahoma", Verdana, Geneva, Tahoma, sans-serif;
}
section {
	display: block;
	text-align: center;
}
article {
	display: block;
}
table {
	width: 100%;
	table-layout: auto;
}
.table-layout { display: table; }
.caption {
	display: table-caption;
	text-align: center;
}
.row { display: table-row; }
.row > * {
	display: table-cell;
	padding: 3px;
}
